/* lottie or lord-icon position center */
.lotti-icon-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-35px;
    width: 50%;
}

.custom-input-field{
    border-radius:10px;
}

.widget-body .widget-main .box-resize{
    border-color:#AAAAAA;height:28px;border-radius:4px !important;
}
